		p{
			color: #888888;
			font-family: "Helvetica";
			font-size: 1.2em;
		}

		h1{
			font-family: Helvetica;
		}

		#footer{
			font-size: .3em;
			font-family: Helvetica;
		}

		.smaller{
			font-size: .4em;
		}
