body{
	font-family: Helvetica, sans-serif;
}

p{
	text-align: justify;
	text-indent: 20px;
}

footer{
	text-decoration: overline;
	font-size: 0.7em;
}

h2{
	text-transform: uppercase;
}

h3{
	font-variant: small-caps;
}